.hero {
  margin: 0;
  width: 100vw;
  height: 100%;
  .container {
    .hero-content {
        height: 40vh;
    }
    .hero-elements {
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      div:not(:first-child) {
        position: absolute;
      }
      h4 {
        color: var(--red);
        font-size: 8rem;
        margin: 0;
      }
      .moth img {
        width: 120rem;;
      }
      .circle img {
        width: 60rem;
      }
    }
  }
  .grid-bg {
    width: 100%;
    height: 175%;
  img {
    width: 100vw;
    z-index: -1;
    top: 75%;
  }
}
}
