@use "../../main.scss" as *;
footer {
    display: flex;
    flex-direction: column;
    h4 {
        color: var(--white);
    }
    .footer-content{
        background-color: var(--red);
    }
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
    .footer-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home-link {
        text-decoration: none;
        color: inherit;
    }
    .social-contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .contact {
        .email-link {
            text-decoration: none;
            color: inherit;
            font-family: var(--title);
        }
    }
    .contact {
        display: flex;
        transition: color 0.3s ease;
        .email-link {
            text-decoration: none;
            color: var(--white);
            font-family: var(--title);
        }
        .email-link:hover {
            opacity: 0.8;
        }
    }
}